body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(135, 206, 250);
    border-radius: 20px;
}

header {
    background-color: #e50914;
    color: white;
    padding: 15px;
    text-align: center;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
}

nav button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #444;
    border: none;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    border-radius: 30px;
}

nav button:hover {
    background-color: #555;
}

nav button:active {
    transform: scale(0.9);
}

main {
    padding: 20px;
}

.noticia {
    background-color: white;
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.noticia:hover {
    transform: translateY(-5px);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.img {
    border-radius: 40px;
}